body {
  font-family: 'Dm Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

span {
  visibility: hidden; }

ul > li {
  list-style: none; }

ul a {
  list-style: none;
  text-decoration: none; }

a {
  text-decoration: none;
  cursor: pointer; }

svg {
  cursor: pointer; }

img {
  max-width: 100%;
  width: 100%;
  height: auto; }

.masthead {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px; }
  .masthead__siteheader {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: space-between;
    margin-top: 20px; }
    .masthead__siteheader--heading-logo {
      max-width: 60%; }
    .masthead__siteheader--button {
      width: 95px;
      height: 30px;
      border: 2px solid #eca2d4;
      color: #eca8e3;
      border-radius: 25px;
      margin-left: 2px;
      background-color: white; }
  .masthead__siteheadings {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 35px; }
    .masthead__siteheadings--header {
      font-size: 26px;
      text-transform: capitalize; }
    .masthead__siteheadings--button {
      background-color: #ec5292;
      padding: 15px 50px;
      border: none;
      border-radius: 25px;
      color: white;
      font-size: 16px;
      font-weight: 600;
      margin-top: 40px;
      -webkit-box-shadow: 5px 5px 7px 0px rgba(13, 11, 15, 0.08);
      box-shadow: 5px 5px 7px 0px rgba(13, 11, 15, 0.08); }

.sectionInfo {
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 80px;
  padding-bottom: 20px; }
  .sectionInfo__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .sectionInfo__header--community {
      padding-top: 40px; }
      .sectionInfo__header--community-header {
        font-weight: 700;
        font-size: 24px; }
      .sectionInfo__header--community-paragraph {
        color: grey;
        font-size: 16px; }
    .sectionInfo__header--messages {
      padding-top: 40px; }

.ullustration {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .ullustration__growth {
    background-image: url("../images/bg-section-top-mobile-1.svg");
    background-position: 70% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px; }
  .ullustration__users {
    background-image: url("../images/bg-section-bottom-mobile-1.svg");
    background-position: 80% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 60px;
    line-height: 20px; }
  .ullustration__user {
    background-image: url(../images/bg-section-top-mobile-2.svg);
    background-position: 46% 115%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px; }
  .ullustration__integration {
    background-image: url("../images/bg-section-bottom-mobile-2.svg");
    background-position: 100% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px; }
  .ullustration__community {
    font-size: 24px;
    text-align: center; }
  .ullustration__button {
    background-color: #ec5292;
    padding: 15px 50px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
    -webkit-box-shadow: 5px 5px 7px 0px rgba(13, 11, 15, 0.08);
    box-shadow: 5px 5px 7px 0px rgba(13, 11, 15, 0.08);
    margin-bottom: 50px; }
